@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

@font-face {
    font-family:'PassionOne' ;
    src: url() format('ttf');
}

header{
    background-color: black;
    color: white;
    font-family: 'PassionOne';
}

header h1{

    
}
